/* General */
.primary-btn {
	background-color: get-color("primary-variant");
	border-color: get-color("primary-variant");
	@include white-text;
}

/* Util */

.cursor-pointer {
	cursor: pointer;
}

/* Login */
.login-page-container {
	height: 100vh;
	background-color: get-color("background1");
	.login-container {
		background-color: get-color("background2");
	}
}

/* Nav */

.main-nav {
	height: 80px;
	display: fixed;
	background-color: get-color("primary");
	@include white-text;
	.fa-sign-out-alt:hover {
		filter: invert(1);
	}
}

.nav-spacer {
	height: 80px;
}
